[Unit]
Description=Streamlit Invoice Assistant
After=network.target

[Service]
User=jenkins
WorkingDirectory=/var/jenkins_home/workspace/invoice-assistant-ci-cd/src
ExecStart=/var/jenkins_home/workspace/invoice-assistant-ci-cd/venv/bin/python -m streamlit run app.py --server.port=8501 --server.address=0.0.0.0 --server.enableCORS=false --server.enableXsrfProtection=false
Restart=always
RestartSec=5
StartLimitIntervalSec=0
StandardOutput=append:/var/jenkins_home/workspace/invoice-assistant-ci-cd/streamlit.log
StandardError=append:/var/jenkins_home/workspace/invoice-assistant-ci-cd/streamlit.log

[Install]
WantedBy=multi-user.target
